<div class="info-nav">
    <div class="info-nav__list">
        <ul>
            <li><a target="_blank" href="https://charts.bitbo.io/" class="charts-nav">Bitcoin Charts</a></li>
            <li class="hidden-item"><a class="dashboard-nav" target="_blank" href="https://bitbo.io/">Bitcoin
                    Dashboard</a></li>
            <li><a target="_blank" class="tools-nav" href="https://tools.bitbo.io/">Bitcoin Tools</a></li>
            <li class="hidden-item"><a target="_blank" class="newsletter-nav"
                    href="https://store.bitbo.io/">Bitcoin Apparel</a></li>
        </ul>
    </div>
</div>
<nav id=navbar class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom top-nav-regular">
    <div class="navbar-brand-wrapper">
        <a class="navbar-brand navbar-brand-logo" href="/">Bitcoin Treasuries</a>
        <span>by</span>
        <a class="bitbo-nav" target="_blank" href="https://bitbo.io/">
            <img class="bitbo-nav__logo" width="15" height="25" alt=" Logo" src="/static/bitbo-logo.svg" />
            <img class="bitbo-nav__text-logo" width="70" height="25" alt="bitbo"
                src="/static/bitbo-logo-text-white-alt2.svg" />
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          {% for key, value in navbar_links.items %}
          <li class="nav-item">
            <a class="nav-link" href="{{ value }}">{{ key }}</a>
          </li>
            {% endfor %}    
        </ul>
      </div>
</nav>