{% load mathfilters %}
{% load extras %}
{% load static %}

<tr>                                
<td class="td-company" data-title="Company Name">{{ treasury.company }}</td>

{% if treasury.country != None and treasury.country != ""%}
<td class="td-location">
    <img class="flag-icon" src="{% static 'flags/4x3/' %}{{ treasury.country|lower }}.svg" alt="country flag" data-tooltip="{{ treasury.country }}">
</td>
{% else %} 
<td class="td-location">
    
</td>
{% endif %}

{% if treasury.treasury_type == 'public' or treasury.treasury_type == 'etf' %}
<td class="td-symbol" data-title="Symbol">{{ treasury.symbol }}:{{ treasury.exchange }}</td>
{% else %} 
{% endif %}

<td class="td-purchases" data-title="Purchases/Filings">{% if treasury.filingurl %}<a href="{{ treasury.filingurl }}" target="_blank" rel="nofollow noopener">Filing</a> | {% endif %}<a href="{{ treasury.info_url }}" target="_blank">News</a></td>

<td class="td-company_btc" data-title="BTC">{{ treasury.btc_rounded_str }}</td>

<td class="td-value" data-title="Value">${{ treasury.btc_rounded|mul:btc_price|number_to_string }}</td>

<td class="td-company_percent" data-title="%">{{ treasury.percentage_from_21m }}%</td>

</tr> 