{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Bitwise BITB Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-bitwise-own">How Much Bitcoin Does the ETF - Bitwise BITB  Own?</h2>
<p> Bitwise Asset Management, Inc. is a crypto funds management company that launched the Bitwise Bitcoin ETF (BITB) in January of 2024.</p>
<p><b>The BITB fund currently holds {{ treasury.btc_rounded_str }} BTC as of {{ treasury.latest }}.</b><sup><a href="{{ treasury.filingurl }}">(1)</a></sup></p>

{% endblock %} 

{% block detail %}


<h2>BITB Historical Holdings</h2>
<p>You can view BITB's historical holdings using the chart below. Just click "BITB" at the top to see only BITB history. </p>
<div id='nh-chart-loader' data-chart='spot-bitcoin-etf-holdings' data-session-key='wmAA5r8ucWV262KbBrlpbXSn'></div><script src='https://newhedge.io/chart-asset/embed'></script>

<h2 id="what-does-bitwise-do">What Does Bitwise Do?</h2>
<p>Bitwise Asset Management, Inc. is a crypto investment management company that started in 2017 and is headquartered in New York City. </p>

<h2 id="who-owns-bitwise">Who Owns Bitwise?</h2>
<p>Bitwise Asset Management, Inc. is a private company that was co-founded by the CEO Hunter Horsley along with Hong Kim the Chief Technical Officer in 2017. Teddy Fusaro is the current President.</p>

<h2 id="does-bitwise-only-mine-bitcoin">Does Bitwise Mine Bitcoin?</h2>
<p>Bitwise is not involved in the mining of Bitcoin.</p>

<h2 id="does-bitwise-own-ethereum">Does Bitwise have Ethereum investment products?</h2>
<p>Bitwise has Ethereum and other crypto products. </p>

{% endblock %}