{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Galaxy Digital Holdings LTD Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-galaxy-own-">How Much Bitcoin Does Galaxy Digital Holdings LTD Own?</h2>
<p>It is estimated based on Galaxy Digital Holdings LTD (OTCMKTS: BRPHF) 2022 fiscal year financial statements that the company is holding approximately {{ treasury.btc_rounded_str }} bitcoins<sup><a href="{{ treasury.filingurl }}">(2)</a></sup>. </p>

{% endblock %} 

{% block detail %}

<h2 id="what-does-galaxy-do-">What Does Galaxy Digital Holdings Do?</h2>
<p>Galaxy Digital Holdings is an asset management company that specializes in digital assets and blockchain technologies that support the digital currency environment<sup><a href="#article-sources">(1)</a></sup>.</p>
    <p>As of April 30, 2023, they reported having $2.5B in assets under their management. </p>
<h2 id="where-does-galaxy-get-its-bitcoin-">Where Does Galaxy Digital Holdings Get Its Bitcoin?</h2>
<p> Galaxy has been in operation since 2018, and its founder and CEO Michael Novogratz was an early adopter of Bitcoin as a digital currency. His first bitcoin purchases were in 2013 when bitcoin sold for around $100.
He started Galaxy in 2018 and his investment, involvement, and trading have accumulated much of the bitcoin holdings to date. </p>
<p>In December 2022, Galaxy acquired a large-scale bitcoin mining operation, called Helios, from Argo Blockchain
for approximately $65 million. </p>

<p> Helios is a 160-acre facility operating in Dickens, TX which can operate up to 180 MW.
Argo will continue to manage the facility for Galaxy as part of a two-year hosting agreement.
Chris Ferraro, President and Chief Investment Officer at Galaxy stated: </p>


<blockquote>The acquisition of Helios represents a new stage over our two-year journey in Bitcoin mining that
increases our operating scale and breadth of solutions, creating sustainable value for the biggest
decentralized digital asset network and shareholders alike.</blockquote>

<p>By the end of 2023, the company is expected a target of over 4 EH/s of hash rate under management. </p>
<h2 id="who-owns-galaxy-">Who Owns Galaxy Digital Holdings?</h2>
<p>Galaxy Digital Holdings is a public company traded on OTCMKTS. As of April 2023, about 25% of the stock was held by institutional investors, while corporate insiders own about 6% of the stock. </p>
<p>Michael Novogratz is the founder, CEO and Director of Galaxy Digital Holdings LTD.  </p>
<p>Others in the executive team include:</p>
<p>Christopher Ferraro is President and Chief Investment Officer, Erin Brown is Chief Operating Officer,  Andrew Siegel is General Counsel and Chief Compliance Officer,
Alex Ioffe is Chief Financial Officer, and Steve Kurz is Global Head of Asset Management. </p>


<h2 id="does-galaxy-only-mine-bitcoin-">Does Galaxy Digital Holdings Only Mine Bitcoin?</h2>
<p>Yes.</p>
<h2 id="does-galaxy-own-or-mine-ethereum-and-other-cryptocurrencies-">Does Galaxy Own or Mine Ethereum and Other Cryptocurrencies?</h2>
<p>The financial statements from Galaxy indicate that in addition to Bitcoin other stablecoin currencies are held by Galaxy, but there is no indication of the type of stablecoin held.</p>



{% endblock %}