{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Hashdex BTCO Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-hashdex-own">How Much Bitcoin Does the ETF - hashdex BTCO  Own?</h2>
<p><b>The DEFI fund currently holds {{ treasury.btc_rounded_str }} BTC as of ource_dt {{ treasury.latest }}.</b><sup><a href="{{ treasury.filingurl }}">(1)</a></sup> </p>

{% endblock %} 

{% block detail %}

<h2 id="what-does-hashdex-do">What Does Hashdex Do?</h2>
<p>Hashdex is a crypto asset management company that is headquartered in Rio de Janeiro, Brazil with an office in Portland, ME.</p>
<h2 id="who-owns-hashdex">Who Owns Hashdex?</h2>
<p>Hashdex is a private company with 71 employees.</p>
<h2 id="does-hashdexhashdex-only-mine-bitcoin">Does Hashdex Mine Bitcoin?</h2>
<p>Hashdex is not involved in the mining of Bitcoin.</p>
<h2 id="does-hashdex-own-ethereum">Does hashdex have Ethereum investment products?</h2>
<p>Hashdex does not have a Ethereum ETF Fund. </p>

{% endblock %}