{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Marathon Digital Holdings Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-marathon-own-">How Much Bitcoin Does Marathon Digital Holdings Own?</h2>

<p>Marathon Digital Holdings, Inc. (NASDAQ: MARA) currently owns {{ treasury.btc_rounded_str }} Bitcoins as of {{ treasury.latest }}.<sup><a href="#article-sources">(1)</a></sup>. </p>
{% endblock %} 

{% block detail %}


<h2 id="what-does-marathon-do-">What Does Marathon Digital Holdings Do?</h2>
<p>Marathon Digital Holdings has been mining bitcoin since its founding in 2010. They are headquartered in Fort Lauderdale, Florida.</p>
<p>As of May 31, 2024, their current installed hash rate is 30.6 EH/S. While Marathon continues to hold a significant portion of their bitcoin production, during September and October of 2023 Marathon opted to sell about 1,700 BTC to cover its direct costs and stated they will continue to sell a portion of their production for operations and general corporate purposes.<sup><a href="#article-sources">(2)</a></sup>.</p>

<h2 id="where-does-marathon-get-its-bitcoin-">Where Does Marathon Digital Holdings Get Its Bitcoin?</h2>
<p>The company accrues Bitcoin through its mining operations. Marathon has a strategy of holding all the bitcoin it mines, only selling to reinvest in enhanced mining operations.</p>
<h2 id="who-owns-marathon-">Who Owns Marathon Digital Holdings?</h2>
<p>Marathon Digital Holdings is a public company traded on the NASDAQ stock exchange. As of April 2023, about 30% of the stock was held by institutional investors, while corporate insiders own about 3% of the stock. </p>
<p>Fred Thiel became the Chairman and CEO of Marathon Digital in 2021 having formerly been the CEO of GameSpy. Thiel is also the CEO of Thiel Advisors. </p>
<p>Others in the executive team include:</p>
<p>Jim Crawford as Chief Operating Officer, Adam Swick as Chief Growth Officer, Ashu Swami as Chief Technology Officer,
    John Lee as Chief Accounting Officer and Jolie Kahn as Legal Counsel. </p>
	
	
<h2 id="does-marathon-only-mine-bitcoin-">Does Marathon Digital Holdings Only Mine Bitcoin?</h2>
<p>Yes, on the company website, Marathon refers to itself as a "Bitcoin company". </p>
<h2 id="does-marathon-own-or-mine-ethereum-and-other-cryptocurrencies-">Does Marathon Own or Mine Ethereum and Other Cryptocurrencies?</h2>
<p>No, Marathon’s primary interest is Bitcoin and Bitcoin mining.</p>


{% endblock %}