{% extends 'components/detail.html' %}

{% block title %}MicroStrategy Bitcoin Holdings Chart & Purchase History{% endblock %}

{% block latest_update %}

<p>MicroStrategy owns {{ treasury.btc_rounded_str }} bitcoins as of {{ treasury.latest }}. MicroStrategy states the <b>average purchase price as $35,158.00 USD per bitcoin</b> with a total cost of $7.538 billion USD.</p>

{% endblock %}

{% block detail %}
  

<div class="stats-page-chapter-intro">
    <h2 class="stats-page-chapter-title">Frequently Asked Questions</h2>
</div>

<div class="stats-page-body-section">
    <div class="stats-page-body-container">
        <div class="stats-page-body-text">
            <h3>What is MicroStrategy?</h3>
            <p>MicroStrategy Incorporated is an American corporation that is involved with business intelligence (BI), mobile software, and cloud-based services.</p>
            <p>MicroStrategy finds answers, information, and insights for business data analysis.</p>
            <p>MicroStrategy uses advanced analytics, reporting, data visualizations, embedded business intelligence, data discovery, and more to produce information.</p>
            <h3>Why do companies use MicroStrategy?</h3>
            <p>Companies use MicroStrategy’s business intelligence to develop reports, export reports, develop dashboards, and develop visualizations for analytics.</p>
            <h3>When did MicroStrategy go public?</h3>
            <p>Founded in November of 1989, MicroStrategy went public via an IPO in June 11, 1998.</p>
            <h3 id="microstrategy-owners">Who founded MicroStrategy?</h3>
            <p><a href="https://buybitcoinworldwide.com/michael-saylor-holdings/">Michael Saylor</a>, Sanju Bansal, and Thomas Spahr all co-founded MicroStrategy. They were classmates together in MIT.</p>
            <h3>How many employees does MicroStrategy have?</h3>
            <p>MicroStrategy has 2,100 employees as of 2021, up from about 2,000 in 2020.</p>
        </div>
    </div>
</div>

{% endblock %}