{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Riot Platforms Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-riot-own-">How Much Bitcoin Does Riot Own?</h2>
<p>Riot Platforms, Inc. (NASDAQ: RIOT) is sitting on {{ treasury.btc_rounded_str }} Bitcoins as of {{ treasury.latest }}.<sup><a href="{{ treasury.filingurl }}">(1)</a></sup>. </p>

{% endblock %} 

{% block detail %}

<h2 id="what-does-riot-blockchain-do-">What Does Riot Platforms Do?</h2>
<p>Riot is a leader in the world of Bitcoin mining. The company was originally called Bioptix, Inc, but changed its name to Riot Blockchain and became incorporated in 2000. They are based in Castle Rock, Colorado. </p>
<p>Their current Deployed Hashing Capacity is 14.7 EH/S as of May 2024. Riot expects to increase to 31 EH/s by the end of 2024 and 41 EF/s by the end of 2025. </p>
<p>In June 2023 they announced a purchase agreement with MircoBT for an order of 33,280 Bitcoin miners for its Corsicana Facility. Full deployment is expected by mid-2024 and will result in an expect mining hash rate of 20.2 EH/s for that facility alone.</p>
<h2 id="where-does-riot-get-its-bitcoin-">Where Does Riot Get Its Bitcoin?</h2>
<p>The company accrues Bitcoin through its extensive mining operations. One of which is Operation Whinstone US, located in Rockdale, Texas. This is currently North America’s largest Bitcoin mining facility by mining capacity. </p>
<h2 id="who-owns-riot-blockchain-">Who Owns Riot Platforms?</h2>
<p>Jason Les is Riot’s CEO. He’s been involved with Bitcoin since 2013 studying protocol development, working on open-source projects, and Bitcoin mining.</p>
<p>Jeff McGonegal is the CFO. Jeff became a Certified Public Accountant in 1975 and has been in the accounting business since then.</p>
<p>Benjamin Yi is the Executive Chairman. He specializes in corporate strategy, development, and governance. </p>
<p>William Jackman is the General Counsel of Riot Platforms and deals primarily with the legal side of things. </p>
<p>Chad Harris is the Chief Commercial Officer of Riot. With his experience in customer retention, acquisition, and negotiations, he helps businesses achieve success.</p>


<h2 id="does-riot-blockchain-only-mine-bitcoin-">Does Riot Platforms Only Mine Bitcoin?</h2>
<p>Yes, Riot’s vision is to be the world’s leading Bitcoin-driven infrastructure platform.</p>
<h2 id="does-riot-own-or-mine-ethereum-and-other-cryptocurrencies-">Does Riot Own or Mine Ethereum and Other Cryptocurrencies?</h2>
<p>No, Riot’s primary interest is Bitcoin and Bitcoin mining.</p>

{% endblock %}