{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Semler Scientific Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-square-own">How Much Bitcoin Does Semler Scientific  Own?</h2>

<p>Semler Scientific (NYSE: SMLR) currently owns {{ treasury.btc_rounded_str }} BTC as of {{ treasury.latest }}.</p>

{% endblock %} 

{% block detail %}



<h2 id="what-does-square-inc-do">What Does Semler Scientific Do?</h2>

<p>According to their website:</p> 

<blockquote>Semler Scientific, Inc. develops, manufactures and markets innovative products and services to combat chronic diseases. Its flagship product, QuantaFlo®, which is patented and cleared by the U.S. Food and Drug Administration (FDA), is a rapid point-of-care test that measures arterial blood flow in the extremities.</blockquote>

{% endblock %}