{% extends 'components/detail.html' %}

{% block title %}How Much Bitcoin Does Tether Own?{% endblock %}

{% block latest_update %}

<h2 id="how-much-bitcoin-does-tether-own-">How Much Bitcoin Does Tether International Limited Own?</h2>
<p>Tether International Limited is estimated to be holding approximately {{ treasury.btc_rounded_str }} bitcoins as of {{ treasury.latest }} based on announcements by the company<sup><a href="#article-sources">(4)</a></sup>. </p>

{% endblock %} 

{% block detail %}

<p>Tether International Limited, the company that launched and manages the <a href="/glossary/stablecoin/">stablecoin</a> Tether (USDT), announced in "Tether’s Q1 2023 Assurance Report"
that it would hold bitcoin as a reserve currency.<sup><a href="#article-sources">(3)</a></sup>.  In August 2023, Bitcoin Magazine reported that Tether purchased an additional 1,529 bitcoin for 45.4M USD during the second quarter of the year.
</p>

<p>This further confirms statements made by Tether on how they will invest in asset reserves: </p>

<blockquote>Tether will regularly allocate up to 15% of its net realized operating profits towards purchasing Bitcoin (BTC)<sup><a href="#article-sources">(1)</a></sup>.</blockquote>

<h2 id="what-does-tether-do-">What Does Tether International Limited Do?</h2>
<p>Tether International Limited is a provider of the stablecoin Tether.</p>

<p>This is a blockchain digital currency that is backed 1 for 1 with the fiat currency used for the purchase of the token.</p>


<p>Tether can be purchased in US dollars (USD), euro (EUR), Mexican Peso (MXN), and offshore Chinese yuan (CNH).</p>

<p>Represented by ₮, Tether tokens are denoted as USD₮, EUR₮, MXN₮, CNH₮.
So $1 of Tether (USDT) will always be worth $1. That is why it is considered a stablecoin. </p>

<h2 id="who-owns-tether-">Who Owns Tether International Limited?</h2>

<p>Tether International Limited is owned by iFinex Inc. a Hong Kong-based company that also owns the cryptocurrency exchange Bitfinex.</p>

<h2 id="why-is-tether-buying-bitcoin-">Why is Tether International Buying Bitcoin? </h2>

<p>Tether International Limited is purchasing bitcoin as part of its company reserves.</p>


<h2 id="what-other-securities-does-tether-buy">What other Assets Does Tether Buy?</h2>
<p>In addition to bitcoin purchases, Tether has invested a large percentage of assets in US Treasury Bills and gold. The remainder of the asset's value is held in cash, cash equivalents, and other short-term deposits. Tether is the largest private purchaser of U.S. Government Treasury Bills - only other governments buy more.<sup><a href="#article-sources">(2)</a></sup></p>

{% endblock %}