<div class="info-nav">
    <div class="info-nav__list">
        <ul>
            <li><a target="_blank" href="https://charts.bitbo.io/" class="charts-nav">Bitcoin Charts</a></li>
            <li class="hidden-item"><a class="dashboard-nav" target="_blank" href="https://bitbo.io/">Bitcoin
                    Dashboard</a></li>
            <li><a target="_blank" class="tools-nav" href="https://tools.bitbo.io/">Bitcoin Tools</a></li>
            <li class="hidden-item"><a target="_blank" class="newsletter-nav"
                    href="https://store.bitbo.io/">Bitcoin Apparel</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom ">
    <div class="navbar-brand-wrapper">
        <a class="navbar-brand navbar-brand-logo" href="">Bitcoin Treasuries
        </a>
        <span>by</span>
        <a class="bitbo-nav" target="_blank" href="https://bitbo.io/">
            <img class="bitbo-nav__logo" width="15" height="25" alt=" Logo" src="/static/bitbo-logo.svg" />
            <img class="bitbo-nav__text-logo" width="70" height="25" alt="bitbo"
                src="/static/bitbo-logo-text-white-alt2.svg" />
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse custom-right navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item dropdown">
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="/us-etfs/">US ETFs</a>
                  
                
              </div>
            </li>
          
            <li class=" nav-item">
                        <a class="nav-link" href="/us-etfs/">US ETFs</a>
            </li>

            <li class="nav-item dropdown">
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="/countries/">Countries</a>
                  
                
              </div>
            </li>
          
            <li class=" nav-item">
                        <a class="nav-link" href="/countries/">Countries</a>
            </li>

            <li class="nav-item dropdown">
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="/miners/">Miners</a>
                  
                
              </div>
            </li>
          
            <li class=" nav-item">
                        <a class="nav-link" href="/miners/">Miners</a>
            </li>

            <li class="nav-item dropdown">
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="https://alerts.bitcointreasuries.com/subscribe">Email Updates</a>
                  
                
              </div>
            </li>
          
            <li class=" nav-item">
                        <a class="nav-link" href="https://alerts.bitcointreasuries.com/subscribe">Email Updates</a>
            </li>

            <li class="nav-item dropdown">
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="https://t.me/BTCTreasuries">Telegram</a>
                  
                
              </div>
            </li>
          
            <li class=" nav-item">
                        <a class="nav-link" href="https://t.me/BTCTreasuries">Telegram</a>
            </li>

            
          
        
  
      </ul>
    </div>
  
    
      
        
      
    
  
    
      <!-- <div class=" avatar-container">
                            <div class="avatar-img-border">
                                <a href="">
                                    <img alt="Navigation bar avatar" class="avatar-img" src="" />
                                </a>
                            </div>
                </div> -->


</nav>